@font-face {
    font-family: Cursiva;
    src: url('#/fonts/bayshore.otf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('#/fonts/poppins-bold.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('#/fonts/poppins-medium.ttf');
}

@font-face {
    font-family: PoppinsRegular;
    src: url('#/fonts/poppins-regular.ttf');
}

@font-face {
    font-family: Questrial;
    src: url('#/fonts/questrial.ttf');
}