footer {
    width: 100%;
    .banner-footer {
        width: 100%;
        height: 120px;
        background-image: url('#/images/banner-footer.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .solid-footer {
        background-color: $dark2;
        color: white;
        display: flex;
        padding: 4rem 0;
        * {
            font-size: 14px;
            font-weight: normal;
        }
        a {
            color: white;
            &:hover {
                color: $beige2;
            }
        }

        .main-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sitemap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo {
                    margin-right: 6rem;
                    cursor: pointer;
                    img {
                        height: 80px;
                        width: auto;
                    }
                }
                .list-sitemap {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    &:last-child {
                        margin-left: 6rem;
                    }
                }
            }
            .contact {
                text-align: right;
                .social-media {
                    margin-bottom: 2rem;
                    a {
                        i {
                            font-size: 24px;
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}