.hero-franquicias {
    background-image: url('#/images/franquicias-banner.png');
}

.modelo-franquicias {
    padding: 6rem 0;
    .title-wrapper {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0 2rem;
            max-width: 450px;
            text-align: center;
        }
        img {
            height: 10px;
        }
    }
    .main-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;

        .fran-row {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            margin-bottom: 2rem;
            @media #{$ipad} {
                width: 100%;
                flex-direction: column;
                .input-wrapper {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            & > .input-wrapper {
                margin-right: 2rem;
            }
            & > .input-wrapper:last-child {
                margin: 0rem;
            }
        }

        .input-wrapper {
            width: 33.333333%;
            .radio-franquicia {
                display: none;
                & + label {
                    width: 100%;
                    padding: 2rem;
                    border: 1px solid black;
                    display: block;
                    box-sizing: border-box;
                    height: 100%;
                    transition: all .3s;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    p {
                        text-align: center;
                        &:first-child {
                            text-transform: uppercase;
                            font-family: PoppinsBold;
                            margin-bottom: 1rem;
                        }
                    }
                }
                &:checked + label {
                    background-color: $dark2;
                    color: white;
                }
            }
        }
    }
}

.franquicia-formulario {
    margin: 4rem 0;
    .main-wrapper {
        max-width: 600px;
        & > p {
            text-align: center;
        }
    }
}

form.main-form {
    width: 100%;
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: PoppinsBold;
        color: $beige3;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        box-sizing: border-box;
        border: 1px solid $dark2;
        padding: 0.5rem 1rem;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    .double-input {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        @media #{$ipad} {
            flex-direction: column;
        }
        input {
            width: calc(50% - 0.5rem);
            @media #{$ipad} {
                width: 100%;
                &:first-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .one-input {
        width: 100%;
        margin-bottom: 1rem;
        input, textarea {
            width: 100%;
        }
    }
    button {
        margin: 0 auto;
    }
}