* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    &:focus {
        outline: none;
    }
}

html, body {
    @media #{$ipad} {
        overflow-x: hidden;
    }
}

body {
    font-family: PoppinsRegular;
    font-size: $fontBase;
    color: $dark2;
}

img {
    display: block;
}

a {
    color: $dark2;
    text-decoration: none;
}

.scrolling {
    height: 500vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-section {
    padding: 6rem 0;
}

.main-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
    @media #{$ipad} {
        width: calc( 100% - 2rem );
    }
} 

.hero {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media #{$ipad} {
        height: auto;
        min-height: 100vh;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.3);
    }

    .main-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media #{$ipad} {
            width: 100%;
        }
    }

    h1 {
        font-family: Questrial;
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
        text-align: center;
        @media #{$ipad} {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 4rem;
        color: $yellow1;
        @media #{$ipad} {
            line-height: 2.5rem;
            font-size: 3rem;
        }
    }
}

.cursiva {
    font-family: Cursiva;
    text-align: center;
    text-transform: capitalize;
    transform: rotate(355deg);
}

.letter-sp {
    letter-spacing: 8px;
}

.no-display {
    display: none !important;
}

.main-title {
    font-family: Questrial;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    @media #{$ipad} {
        font-size: 1rem;
    }
}