.login-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('#/images/inicio-banner.png');
    background-size: cover;

    .form-wrapper {
        padding: 2rem;
        background-color: white;
        box-shadow: $shadow;
        border-radius: 10px;
        box-sizing: border-box;
        width: 90%;
        max-width: 400px;
        margin-top: 3rem;
        h2 {
            margin-bottom: 1rem;
        }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-sizing: border-box;

            input {
                display: block;
                box-sizing: border-box;
                padding: 1rem;
                outline: none;
                border: none;
                width: 100%;
                border-bottom: 1px solid #333;
            }

            button {
                margin-top: 2rem;
                margin-left: auto;
            }
        }
    }
}