.hero-menu {
    background-color: #777;
    background-image: url('#/images/especialidades_03.png');
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 3rem;
            margin-left: -75px;
            @media #{$ipad} {
                margin-top: -70px;
                margin-bottom: 50px;
            }
        }
        h2 {
            font-size: 7rem;
            margin-right: -75px;
            margin-top: -45px;
        }
    }
}

.tit-menu {
    font-family: PoppinsBold;
    font-size: 1rem;
    text-transform: uppercase;
}

h1.tit-menu {
    color: $beige3;
    font-family: Poppins;
    font-size: 2rem;
    margin-bottom: 2rem;
}
h2.tit-menu {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.text-menu {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.menu-opt-active {
    color: $beige3;
}

.menu-wrapper {
    width: 100%;
    position: relative;
    background-color: transparent;
    // background-color: #FAA;
    margin-top: -10rem;
    hr {
        width: 80%;
        border: 0;
        height: 1px;
        background-color: $dark2;
        margin-bottom: 2rem;
    }
    .back-menu {
        position: absolute;
        width: 100%;
        background-color: $beige1;
        height: calc(100% - 14rem);
        top: 8rem;
        left: 0;
        z-index: 0;
    }
    .menu-container {
        z-index: 1;
        position: relative;
        width: calc(100% - 2rem);
        max-width: 900px;
        background-color: white;
        margin: auto;
        box-sizing: border-box;
        box-shadow: $shadow;

        @media #{$ipad} {
            padding: 0 1rem;
        }

        .options {
            display: flex;
            justify-content: space-between;
            width: calc( 100% - 6rem);
            margin: 0 auto;
            box-sizing: border-box;
            border-bottom: 2px solid $beige3;
            padding: 3rem 0 2rem;
            @media #{$ipad} {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            
            .option {
                text-transform: uppercase;
                cursor: pointer;

                @media #{$ipad} {
                    width: 33%;
                    text-align: center;
                }
                &:hover {
                    color: $beige2;
                }
            }

        }

        .menu-complete {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            padding: 3rem 3rem 6rem;
            animation: menuAnimation .4s;
            position: relative;
            filter: blur(0px);

            @media #{$ipad} {
                flex-direction: column;
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc( 100px + 10rem);
                @media #{$ipad} {
                    width: 100%;
                }
                img {
                    height: auto;
                    width: 100px;
                }
            }
            .menu {
                width: calc(100% - 100px - 10rem);
                position: relative;
                @media #{$ipad} {
                    width: 100%;
                }
                button {
                    display: block;
                    @media #{$ipad} {
                        margin: auto;
                    }
                }
            }
        }
    }
}

.footer-menu {
    width: 100%;
    height: calc(6rem + 200px);
    background-color: $yellow2;
    margin-top: -6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-img-bg {
        width: 33.3333333%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('#/images/slider2.png');
        &:first-child {
            background-image: url('#/images/especialidades_02.png');
        }
        &:last-child {
            background-image: url('#/images/especialidades_04.png');
        }
    }
}

@keyframes menuAnimation {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

.bg-menu {
    position: absolute;
    height: 140px;
    width: auto;
    @media #{$ipad} {
        display: none;
    }

    &.small {
        height: 80px;
    }

    &.medium {
        height: 280px;
    }

    &.normal {
        width: unset;
        height: unset;
    }

    &.large {
        height: 350px;
    }
    &.pos1 {
        top: 100px;
        left: 0;

    }
    &.pos2 {
        top: 100px;
        right: 0;

    }
    &.pos3 {
        top: 50%;
        left: 0;

    }
    &.pos4 {
        top: 50%;
        right: 0;

    }
    &.pos5 {
        bottom: 0;
        left: 0;

    }
    &.pos6 {
        bottom: 0;
        right: 0;

    }
}

