.hero-menu {
    background-color: #777;
    background-image: url('#/images/especialidades_03.png');
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 3rem;
            margin-left: -75px;
        }
        h2 {
            font-size: 7rem;
            margin-right: -75px;
            margin-top: -45px;
        }
    }
}

.tit-menu {
    font-family: PoppinsBold;
    font-size: 1rem;
}

.text-menu {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.menu-opt-active {
    color: $beige3;
}

.menu-wrapper {
    width: 100%;
    position: relative;
    background-color: transparent;
    // background-color: #FAA;
    margin-top: -10rem;
    .back-menu {
        position: absolute;
        width: 100%;
        background-color: $beige1;
        height: calc(100% - 14rem);
        top: 8rem;
        left: 0;
        z-index: 0;
    }
    .menu-container {
        z-index: 1;
        position: relative;
        width: 100%;
        max-width: 900px;
        background-color: white;
        padding: 0 3rem;
        margin: auto;
        box-sizing: border-box;
        box-shadow: $shadow;

        .options {
            display: flex;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 2px solid $beige3;
            padding: 3rem 0 2rem;
            
            .option {
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    color: $beige2;
                }
            }

        }

        .menu-complete {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            padding: 3rem 0 6rem 0;
            animation: menuAnimation .4s;
            filter: blur(0px);

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc( 100px + 10rem);
                img {
                    height: auto;
                    width: 100px;
                }
            }
            .menu {
                width: calc(100% - 100px - 10rem);
                button {
                    display: block;
                }
            }
        }
    }
}

.footer-menu {
    width: 100%;
    height: calc(6rem + 200px);
    background-color: $yellow2;
    margin-top: -6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-img-bg {
        width: 33.3333333%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('#/images/slider2.png');
        &:first-child {
            background-image: url('#/images/especialidades_02.png');
        }
        &:last-child {
            background-image: url('#/images/especialidades_04.png');
        }
    }
}

@keyframes menuAnimation {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

