.vertical-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    @media #{$ipad} {
        display: none;
    }

    p {
        display: block;
        text-transform: uppercase;
    }

    .line {
        background-color: white;
        width: 80px;
        height: 3px;
        margin: 0 1rem;
    }

    .social-icons {
        display: flex;
        a {
            color: white;
            margin-right: 1rem;
            i {
                font-size: 1.5rem;
                display: block;
                transform: rotate(90deg);
                cursor: pointer;
            }
        }
    }
}